* {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


/* Overview */

#overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    width: 80vw;
}

#progress {
    display: flex;
    width: 40%;
    height: 3vh;
    background-color: #444;
    position: absolute;
}

#progressBar {
    height: 100%;
    background-color: #999;
    position: absolute;
}

#progressInfo {
    align-self: center;
    width: 100%;
    text-align: center;
    color: #bbb;
    font-size: 2vh;
}

#gamePreviews {
    display: flex;
    flex-direction: column;
    border: 1px solid #666;
    box-sizing: border-box;
}

.gamePreviewRow {
    display: flex;
}

.gamePreview {
    border: 1px solid #444;
    box-sizing: border-box;
    cursor: pointer;
}

.gamePreview:hover {
    background-color: #333;
}


/* Game */

#game {
    display: flex;
    flex-direction: column;
}

#topPart {
    display: flex;
    justify-content: flex-end;
}

.striked {
    color: #666 !important;
}

#colNumbers {
    display: flex;
    align-items: flex-end;
}

.colNumbersCol {
    display: inline-flex;
    flex-direction: column;
}

.colNumber {
}

.number {
    width: min(4vw,4vh);
    line-height: min(4vw,4vh);
    box-sizing: border-box;
    text-align: center;
    color: #bbb;
}

#bottomPart {
    display: flex;
    justify-content: flex-end;
}

#rowNumbers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rowNumbersCol {
    display: flex;
    justify-content: flex-end;
}

.rowNumber {
    display: inline-block;
}

#board {
}

.row {
    height: min(4vw,4vh);
}

.field {
    display: inline-block;
    border: 1px solid #888;
    width: min(4vw,4vh);
    height: min(4vw,4vh);
    box-sizing: border-box;
    color: #bbb;
}

.field:hover {
    background-color: #555;
}

.gameHighlight {
    background-color: #333;
}

.divider {
    border: 0;
    background-color: #bd5151;
    position: relative;
    pointer-events: none;
}

.rowDivider {
    height: 2px;
    margin: -1px 0;
}

.colDivider {
    display: inline-block;
    width: 2px;
    height: min(4vw,4vh);
    margin: 0 -1px;
}

.cross {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='%23bbb' stroke-width='3' vector-effect='non-scaling-stroke'/><line x1='0' y1='100' x2='100' y2='0' stroke='%23bbb' stroke-width='3' vector-effect='non-scaling-stroke'/></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

.square {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><rect width='100' height='100' fill='%23bbb' vector-effect='non-scaling-stroke'/></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

